@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background: #2b2b2b;
  color: #fff;
  font-weight: 400;
  font-family: Montserrat;
}

.mono-h1 {
  font-family: "Space Mono", monospace;
  font-size: 67px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  font-weight: 600;
}

.mono-h2 {
  font-family: "Space Mono", monospace;
  font-size: 51px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  font-weight: 600;
}

.mono-h3 {
  font-family: "Space Mono", monospace;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
  font-weight: 600;
}

.mono-h4 {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  font-weight: 600;
}

.mono-h5 {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 160%;
  font-weight: 600;
}

.base-mono {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  color: #cccccc;
}

.span-mono {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
}

.sans-h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 67px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  font-weight: 600;
}

.sans-h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  font-weight: 600;
}

.sans-h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 120%;
  font-weight: 600;
}

.sans-h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  font-weight: 600;
}

.sans-h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  font-weight: 600;
}

.text-sans {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  font-weight: 600;
}

.base-sans {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  color: #cccccc;
}

.span-sans {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  line-height: 110%;
  color: #cccccc;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

body {
  background-color: #2b2b2b;
  color: #fff;
}

a {
  cursor: pointer;
  padding: 5px;
}

.button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #A259FF;
  border-radius: 20px;
  padding: 16px 35px;
  cursor: pointer;
}

.button-black {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border-radius: 20px;
  padding: 16px 35px;
  cursor: pointer;
  border: 2px solid #A259FF;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.sign-button-h5 {
  font-size: 16px;
}

.footer {
  background-color: #3b3b3b;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-list-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-our-comunity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-comunity-wrap {
  display: flex;
  gap: 10px;
}

.footer-list-text-element {
  max-width: 300px;
  display: flex;
  text-align: start;
}

.email-form {
  position: relative;
}

.email-input {
  width: 350px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-right: 140px;
  padding-left: 10px;
  border-radius: 20px;
}

.email-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 35px;
}

.last-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #858584;
}/*# sourceMappingURL=style.css.map */