@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'variables';
@import 'mixins';
@import 'typography';
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}
body{
    background-color: #2b2b2b;
    color: #fff;
}
a {
    cursor: pointer;
    padding: 5px;
}
.button{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #A259FF;
    border-radius: 20px;
    padding: 16px 35px;
    cursor: pointer;
}
.button-black{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    border-radius: 20px;
    padding: 16px 35px;
    cursor: pointer;
    border: 2px solid #A259FF;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}
.sign-button-h5{
    font-size: 16px;
}
.footer{
    background-color: #3b3b3b;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-list-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-our-comunity{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.our-comunity-wrap{
    display: flex;
    gap: 10px;
}
.footer-list-text-element{
    max-width: 300px;
    display: flex;
    text-align: start;
}
.email-form{
    position: relative;
}
.email-input{
    width: 350px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-right: 140px;
    padding-left: 10px;
    border-radius: 20px;
}
.email-button{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 35px;
}
.last-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #858584;
}
.section{
    max-width: 1050px;
    margin: 100px auto;
}
.section-discover-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
}
.discover-text-title{
    max-width: 510px;
}
.discover-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}
.sale-information-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sale-information-element{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sale-information-caption{
    font-size: 24px;
    font-weight: 400;
}
.discover-artist{
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
}
.discover-artist-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.section-collection-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.collection-element-images{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.collection-element-other-images{
    display: flex;
    justify-content: space-between;
}
.collections-list{
    display: flex;
    justify-content: space-between;
}
.section-top-creators-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top-creators-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-creators-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-creators-element-wrap{
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    position: relative;
}
.top-creators-element-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.number-creator{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2b2b2b;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.top-creators-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-browse-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px; 
}
.categories-element{
    border: none;
    border-radius: 20px;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.categories-element-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #3b3b3b;
    width: 100%;
}
.categories-element-wrap{
    padding: 0;
}
.categories-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

