b{
    color: rgb(18, 62, 18);

}

form{
    text-align: center;
}
input{
    display: block;
    width: 300px;
    text-align: center;
}
button{
    background-color: rgb(18, 62, 18);
    color: white;
    width: 300px;
}