@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.conteiner {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.section-categories {
  width: 310px;
  height: 1000px;
  margin-top: 171px;
  margin-left: 135px;
  background-color: rgb(250, 247, 247);
  float: left;
}
.categories-h4 {
  margin-left: 30px;
  font-size: 20px;
}
.categories-list .categories-item.active-categories {
  color: green;
  border-bottom: 2px solid green;
}
.categories-list {
  list-style: none;
  width: 103px;
  height: 303px;
  display: block;
}
.categories-item {
  text-decoration: none;
  display: block;
  color: black;
  margin-bottom: 15px;
}
.supersale-banner {
  display: inline-block;
  margin-top: 280px;
  margin-left: -30px;
}
.section-shop-list {
  margin-top: 171px;
  margin-left: 495px;
  float: right;
}
.categories-shop-list {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.categories-shop-item {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  color: black;
}
.categories-shop-item a {
  text-decoration: none;
  color: black;
}
.active-categories-shop a {
  color: green;
  border-bottom: 2px solid green;
}
.categories-shop-item .short-by {
  margin-left: 10px;
  display: inline-block;
}
.item-list-item {
  display: inline-block;
  margin: 20px;
  width: 258px;
  height: 350px;
  background-color: rgba(247, 247, 247, 0.353);
}
.item-list-item a {
  text-decoration: none;
  color: inherit;
}
.name-plants {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.price {
  font-size: 20px;
  color: green;
  margin-top: 5px;
}
.buttons-1-2-3 {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.buttons-1-2-3 li {
  display: inline-block;
  margin-left: 10px;
}

.buttons-1-2-3 .btn {
  display: inline-block;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.buttons-1-2-3 .btn.active {
  background-color: darkgreen;
  color: white;
  border: none;
}
