<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <div class="nav-wrap">
                <div class="logo">
                    <div class="logo-svg">
                        <svg width="32px" height="32px"><use xlink:href="symbols.svg#storeFront"></use></svg>  
                    </div>
                    <h5 class="sans-h5">NFT Marketplace</h5>
                </div>
                <ul class="nav-list">
                    <li class="nav-element"><a href="#" class="nav-element-href text-sans">Marketplace</a></li>
                    <li class="nav-element"><a href="#" class="nav-element-href text-sans">Rankings</a></li>
                    <li class="nav-element"><a href="#" class="nav-element-href text-sans">Connect a wallet</a></li>
                    <li class="nav-element"><a href="" class="sign-up-href">
                        <button class="button sign-button">
                            <svg width="20px" height="20px"><use xlink:href="symbols.svg#user"></use></svg>
                            <h5 class="sans-h5 sign-button-h5">Sign Up</h5>
                        </button>
                    </a></li>
                </ul>
            </div>
        </nav>
        <footer class="footer">
            <div class="footer-wrap">
                <ul class="footer-list">
                    <div class="logo">
                        <div class="logo-svg">
                            <svg width="32px" height="32px"><use xlink:href="symbols.svg#storeFront"></use></svg>
                        </div>
                        <h5 class="sans-h5">NFT Marketplace</h5>
                    </div>
                    <div class="footer-list-text">
                        <p class="footer-list-text-element base-sans">NFT marketplace UI created with Anima for Figma.</p>
                        <div class="footer-our-comunity">
                            <span class="footer-list-text base-sans">Join our community</span>
                            <div class="our-comunity-element">
                                    <a href="#" class="our-comunity-href">
                                        <svg width="32px" height="32px"><use xlink:href="symbols.svg#discordGreyLogo"></use></svg>
                                    </a>                                  
                                </div>
                                <div class="our-comunity-element">
                                    <a href="#" class="our-comunity-href">
                                        <svg width="32px" height="32px"><use xlink:href="symbols.svg#youtubeGreyLogo"></use></svg>
                                    </a>                                  
                                </div>
                                <div class="our-comunity-element">
                                    <a href="#" class="our-comunity-href">
                                        <svg width="32px" height="32px"><use xlink:href="symbols.svg#twitterGreyLogo"></use></svg>
                                    </a>                                  
                                </div>
                                <div class="our-comunity-element">
                                    <a href="#" class="our-comunity-href">
                                        <svg width="32px" height="32px"><use xlink:href="symbols.svg#instagramGreyLogo"></use></svg>
                                    </a>                                  
                                </div>
                        </div>
                    </div>
                </ul>
                <ul class="footer-list">
                    <h5 class="sans-h5">Explore</h5>
                    <ul class="footer-list-text">
                        <li class="footer-list-text-element"><a href="#" class="footer-list-element-href"><span class="base-sans">Marketplace</span></a></li>
                        <li class="footer-list-text-element"><a href="#" class="footer-list-element-href"><span class="base-sans">Rankings</span></a></li>
                        <li class="footer-list-text-element"><a href="#" class="footer-list-element-href"><span class="base-sans">Connect a wallet</span></a></li>
                    </ul>
                </ul>
                    <ul class="footer-list">
                    <h5 class="sans-h5">Join Our Weekly Digest</h5>
                    <ul class="footer-list-text">
                        <li class="footer-list-text-element"><a href="#" class="footer-text-element-href"><span class="base-sans">Get exclusive promotions & updates straight to your inbox.</span></a></li>
                        <form action="#" class="email-form">
                            <input type="email" placeholder="Enter your email here" class="email-input">
                            <button class="button email-button" type="submit">Subscribe</button>
                        </form>
                </ul>
            </div>
            <div class="last-title">
                <div class="line"></div>
                <span class="span-sans">Ⓒ NFT Market. Use this template freely.</span>
            </div>
            
        </footer>
    </div>
</body>
</html>