<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <button class="button">
        <svg width="32px" height="32px"><use xlink:href="symbols.svg#rocketLaunch"></use></svg>
        <h5 class="sans-h5">Button</h5>
    </button>
    <button class="button-black">
        <svg width="32px" height="32px" class="button-black-svg"><use xlink:href="symbols.svg#rocketLaunch"></use></svg>
        <h5 class="sans-h5">Button</h5>
    </button>
</body>
</html>